.inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    direction: rtl;
  }

  input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }

  .error {
    margin-top: 0.25rem;
    color: red;
    font-size: 0.875rem;
  }
}
